<aside id="sidebar_secondary" class="tabbed_sidebar ng-scope chat_sidebar popup-box-on">
  <div class="popup-head">
    <div class="popup-head-left pull-left"><a Design and Developmenta title="Gurdeep Osahan (Web Designer)" target="_blank" href="https://web.facebook.com/iamgurdeeposahan">
      <img class="md-user-image" alt="Full Name" title="Full Name" src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" title="Gurdeep Osahan (Web Designer)" alt="Gurdeep Osahan (Web Designer)">
      <h1>Full Name</h1>
    </div>
    <a href="#" class="close-chat pull-right"><i class="fa fa-close" data-id="chat_window_1"></i></a>
    <a href="#" class="minimize-chat pull-right"><i id="minim_chat_window" class="fa fa-window-minimize"></i></a>
  </div>

  <div id="chat" class="chat_box_wrapper chat_box_small chat_box_active" style="opacity: 1; display: block; transform: translateX(0px);">
    <div class="chat_box touchscroll chat_box_colors_a">
      <div class="chat_message_wrapper">
        <ul class="chat_message">
          <li>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eum? </p>
          </li>
          <li>
            <p> Lorem ipsum dolor sit amet.<span class="chat_message_time">13:38</span> </p>
          </li>
        </ul>
      </div>
      <div class="chat_message_wrapper chat_message_right">
        <ul class="chat_message">
          <li>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus distinctio dolor earum est hic id impedit ipsum minima mollitia natus nulla perspiciatis quae quasi, quis recusandae, saepe, sunt totam.
              <span class="chat_message_time">13:34</span>
            </p>
          </li>
        </ul>
      </div>
      <div class="chat_message_wrapper">
        <ul class="chat_message">
          <li>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ea mollitia pariatur porro quae sed sequi sint tenetur ut veritatis.https://www.facebook.com/iamgurdeeposahan
              <span class="chat_message_time">23 Jun 1:10am</span>
            </p>
          </li>
        </ul>
      </div>
      <div class="chat_message_wrapper chat_message_right">
        <ul class="chat_message">
          <li>
            <p> Lorem ipsum dolor sit amet, consectetur. </p>
          </li>
          <li>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              <span class="chat_message_time">Friday 13:34</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="chat_submit_box">
      <div class="gurdeep-chat-box">
        <input type="text" placeholder="Type a message" id="submit_message" name="submit_message" class="md-input">
      </div>
  </div>
</aside>
